@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Reset */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font: 1.6rem 'Open-sans', sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: var(--bgcolor-theme);
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    transition: all .6s ease-in-out;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
}

/* Ajouter les images */
a {
    text-decoration: none;
    color: #000000;
}

button, input {
    padding: 0;
    background: none;
    border: 0;
    font-size: inherit;
}
/* End Reset */


/* Thème */
:root {
    color-scheme: light dark; 
    --bgcolor-theme: #fafafa;
    --text-color: #000000;
    --button-item-color:#dd5347;
}

/* Css pour la barre de navigation*/
.icon {
    display: flex;
    align-items: center;
    color: var(--bgcolor-theme);
}
.icon h2{
    font-weight: normal;
    font-family: 'Open-sans', sans-serif;
    display: flex;
    align-items: center;
    color: #5f5f5f;
    font-size: 2.4rem;
}
.icon img{
    margin: auto 1rem auto 2rem;
}

nav{
    position: fixed;
    display: flex;
    background-color: var(--bgcolor-theme);
    z-index: 1; /* Pour assurer que la navbar est au-dessus du contenu */
    width: 100%;
    justify-content: space-between;
    height: 6.65rem;
}
nav ul{
    list-style-type: none; 
    display :inline-flex;
    align-items: center;
}
nav ul li{
    padding: 2rem;
    margin: 0rem 2rem 0rem 2rem;
}
.first-new-account-button{
    background-color: var(--button-item-color);
    padding: auto 2rem auto 2rem;
    margin: 0rem 0rem 0rem 2rem;
}
.first-new-account-button a{
    color: var(--bgcolor-theme);
}
nav ul li a {
    text-transform: uppercase;
}
/* Fin de la barre de navigation*/


/* Section d'accueil */
.welcome-picture {
    background-image: url('../asset/home-hero.jpg');
    background-size:cover; /* Ajuste la taille de l'image pour couvrir toute la section */
    background-position: center; /* Centre l'image */
    color: var(--bgcolor-theme); /* Couleur du texte */
    padding: 15rem; /* Espacement interne pour séparer le texte de l'image */
    min-height: 100vh;
}
.welcome-picture p{
    font-family: 'Open-sans',sans-serif;
    font-size: 5.5rem;
    padding: 0.15rem 0rem;
    margin: 8rem auto 4rem -1rem;
    text-align:left; /* Alignement du texte à gauche */

}

.second-new-account-button{
    text-transform: uppercase;
    font-family: 'Open-sans', sans-serif;
    color: var(--bgcolor-theme);
    background-color: var(--button-item-color);
    padding: 2.5rem;
    margin:-1rem;
}

/* CSS de la partie Création de compte */
main{
    min-height: 100vh;
}

#new-account h2{
    display: flex;
    justify-content: center;
    margin: 1.6rem;
    margin-top: 4rem;
    padding: 1.6rem;
    font-size: 3rem;
    text-align: center;
}
#new-account p{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    font-size: 1.8rem;
    text-align: center;
}


/* CSS du formulaire */
.inner-form{
    font-family: 'Open-sans', sans-serif;
    display:flex;
    justify-content: center;
}
fieldset {
    display: flex;
    justify-content: center;
    width: 75rem;
    border: 0.1rem solid #adacac;
    border-radius: 1.5rem;
    padding: 2.5rem;
    margin: 2rem;
}

#new-account legend{
    padding: 0.1rem;
    margin: 0.1rem;
}
#new-account legend h2{
    font-size: 2rem;
    font-family: 'Open-sans',sans-serif;
    padding: 0.5rem;
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

input {
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem solid #a7a3a3;
    background-color: #d8d8d8;
    color: var(--text-color);
}

input::placeholder{
    color :#2c2b2b;
}
.button-account {
    background-color: dodgerblue;
    padding: 2rem;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin: auto;   
    transition: background-color 0.3s ease-in-out;
}
.button-account:hover {
    background-color: #0056b3;
}

.button-account button{
    text-transform:uppercase;
    color: var(--bgcolor-theme);
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.button-account button:hover {
    background-color: #0056b3;
}
/* FIN CSS du formulaire */

/* CSS bouton scroll*/
.button-scroll{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    right: 1rem;
    bottom: 1rem;
    border-radius: 4rem;
    background-color: var(--button-item-color);
}
.button-img {
    width: 3rem;
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
    max-width: 120rem;
    margin: auto;
}
